body {
	font-family: 'Lato', sans-serif;
    font-weight: 400;
	font-size: 100%;

	/* 1em = 16px/full elem size by defalt */
	
	line-height: 1.7em;
	color: #000000;
}

/* ---------- Sidebar Content ---------- */ 
#sidebar {
	width: 20%;
	float: left; 
	background-color: #580c3b;
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
}

#sidebar img {
	background-color: #f1bb99;
	border-radius: 75px; 
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 1em;
  	margin-bottom: 1em;
}

#sidebar hr {
	width: 80%;
	align: center;
	border-color: #f1bb99;
}

#sidebar a {
	text-decoration: none;
}

#sidebar button {
	color: #0c5829; 
	background-color: white; 
	border: 2px solid #0c5829;
	border-radius: 6px; 
	text-align: center;
	font-size: 16px;
	-webkit-transition-duration: 0.4s; /* Source:  https://medium.freecodecamp.org/a-quick-guide-to-styling-buttons-using-css-f64d4f96337f*/
	transition-duration: 0.4s;
	cursor: pointer;

	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: .4em;
	padding: .5em 1em;
}

#sidebar button:hover, #content3 fieldset a {
    color: #f1bb99;
    border-color: #f1bb99;
 }

 #hbutton button {
    color: #f1bb99;
    border-color: #f1bb99;
 }

 #hbutton button:hover, #content3 form button:hover {
    color: #0c5829;
    border-color: #f1bb99;
 }

#sidefooter {
	padding-left: 1.5em;
	color: white;
}

#wm_mailto {
	color: #f1bb99;
}

#wm_mailto:hover {
	color: blue;
}

#hours ul {
	list-style-type: none;
	color: white;
}
#hours h2 {
	margin-left: .95em;
	color: white;
	font-size: 1.125em;
}
/* ---------- Sidebar Content End ---------- */ 


/* ---------- Content 1 ---------- */ 
#content, #content2, #content3, #events {
	margin: 1% 2%;
	padding-left: 20%;
	float: left; 
	width: 75%;
}

#content {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#content h3, #events h3, #order_title {
	font-size: 1.75em;
	margin-bottom: 0em;
	color: #580c3b;
}

#order_title {
	margin-top: 1.5em; 
}

#content img {
	border-radius: 25px; 
	margin-top: 0em;
}

#content_img, #content_bio {
	float: left;
	display: inline-block;
	width: 45%;
	color: #0c5829;
}

#content_bio {
	width: 50%;
	padding: 1.5em;
}

#content p {
	font-size: 2em;
	color: black;
}

#content iframe {
	width: 100%; 
	height: 25em; 
	border: 0;
	margin-top: 1.5em;
}

#infotable {
	width: 100%; 
	height: 25em; 
	border: none;
}

#infotable tr:nth-child(even) {
  background-image: linear-gradient(-90deg, #f1bb99, #fff);
}
#infotable tr:nth-child(odd) {
  background-image: linear-gradient(-90deg, #fff, #f1bb99);
}
#infotable img {
	margin-top: .5em;
	margin-left: 5em;
	width: 60%;
}
#infotable th {
	color: black;
}
#infotable a {
	text-decoration: none;
	color: #0c5829;
}
#infotable a:hover {
	text-decoration: underline;
	color: blue;
}
/* ---------- Content 1 End ---------- */ 

/* ---------- Content 2 ---------- */ 

#content2 {
	clear: left;
}
 
#content2 p {
	font-style: normal;
}

#content2 a {
	text-decoration: none;
	color: #0c5829;
}

#content2 a:hover {
	text-decoration: underline;
	color: black;
}

#content2 span {
	font-style: italic;
}

#content2 h2, #content3 h2 {
	color: #580c3b;
}

#wkday_chart, #wkend_chart {
	width: 20%; 
	height: 50%;
	float: left;
	display: inline-block;
	margin-left:15%;
}

/* ---------- Content 2 End ---------- */ 

/* ---------- Content 3 ---------- */ 
#content3 {
	clear: left;
	margin-bottom: 0px;
	margin-top: 0px;
}

#content3 p {
	font-style: normal;
}

#contact3 h2 {
	font-style: bold;
	font-size: normal;
}

object {
	margin: 0px;
	padding-left: 20%;
	float: left; 
	width: 77%;
	height: 100vh;
}

#content3 fieldset {
	width: 75%;
}

#content3 fieldset input, #content3 fieldset textarea {
	border: 2px solid black;
	height: 2em;
	width: 40%;
	margin-bottom: 1em;
	border-radius: 4px;
    background-image: linear-gradient(-90deg, #f1bb99, #fff);
}

#content3  fieldset textarea {
	width: 50%;
	height: 50%;

}

#radio {
	padding-top: 0px;
}

#type_selection {
	margin-left: 1.5em;
}

#content3  input.checkbox {
	width: 2%;
	color: red;
}

/* ---------- Content 3 End ---------- */ 

/* ---------- Events ---------- */ 

#accordion {
	margin-top: .75em;
}

#accordion h4, #accordion2 h4 {
	background-color: #f1bb99;
}

#accordion div {
	color: #0c5829;	
}

#event {
	width: 90%;
	padding-left: 1em;
}

#mobile-nav {
	display: none;
}

/* ---------- Events End ---------- */ 

/* ---------- Contact ---------- */ 

#contact_form {
	font-size: 1.25em;
	font-style: normal;
	margin-top: 0;
	padding-top: 0;
}

#content3 form button {
	color: #f1bb99;
	background-color: white; 
	border: 2px solid #f1bb99;
	border-radius: 6px; 
	text-align: center;
	font-size: 16px;
	-webkit-transition-duration: 0.4s; /* Source:  https://medium.freecodecamp.org/a-quick-guide-to-styling-buttons-using-css-f64d4f96337f*/
	transition-duration: 0.4s;
	cursor: pointer;
	text-decoration: none;

	float: left;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0em;
	margin-top: 0em;
	padding: .5em 1em;
}

/* ---------- Contact End ---------- */ 


